{% extends "layouts/default.twig" %}

{% block content %}
        <h1>${ "Congratulations" | translate }</h1>
        <div class="post body">${ "You've found a page that can't be found!" | translate }</div>
{% endblock %}
