{% extends "layouts/default.twig" %}

{% block content %}
                  <div class="search_results">
                    {% if posts.paginated %}
                    <h1>${ "Now serving &#8220;%s&#8221;" | translate | format(search | escape) }</h1>
                    {% endif %}
                    {% for post in posts.paginated %}
{% include "feathers/" ~ post.feather ~ ".twig" %}
                    {% else %}
                    <h1>${ "I got nothin'. Sorry, mug." | translate }</h1>
                    <p class="search_fail">${ "Why not try again and search for something a little less retarded." | translate }</p>
                    {% endfor %}
									</div>
{% endblock %}
